body {
    font-family: 'Roboto', sans-serif;
  }
  
  .chatWindow {
    background-color: rgb(50, 50, 50);
    position: absolute;
    z-index: -1;
    color: white;
    width: 99.35%;
    min-height: 66vh;
    height: 1px;
    border: 1px solid black;
    bottom: 90px;
    overflow-y: scroll;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #004aad;
  }

  ::-webkit-scrollbar-track {
    background-color: black;
  }
  
  .logo {
    background-color: black;
    width: 100%;
    border: 1px solid black;
    position: fixed;
    height: auto;
    box-sizing: inherit;
    overflow: auto;
  }

  .logoimg {
    display: inline-block;
    border-radius: 1em;
    height: 80px;
    display: inline-block;
    margin-left: 45%;
    }

  #name-label {
    color: white;
    font-size: larger;
    margin-left: 240px;
  }

  #name-input {
    background-color: white;
    border-radius: 1em;
    color: #333;
    height: 15px;
    width: 180px;
    padding: 10px;
    font-size: 10px;
    margin-left: 5px; 
  }

  #name-submit-button {
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
      
  #name-submit-button:hover {
    color: white;
    background-color: #004aad;
  }

  div.quests {
    width: 100%;
    height: 60px;
    border: 1px solid black;
    background-color: #004aad;
    position: fixed;
    margin-top: 97.95px;
    color: white;
    font-weight: bold;
  }

  #messageForm {
    display: block;
    position: fixed;
    margin-top: 664.3px;
    background-color: #004aad;
    width: 100%;
    border: 1px solid black;
    height: 70px;
    z-index: 1;
  }
  
  
  #messageInput {
    background-color: #f0f0f0;
    color: #333;
    border-radius: 1em;
    width: 90%;
    height: 35px;
    padding: 10px;
    font-size: 16px;
    margin-left: 5px;
  }
  
  .send {
    background-color: white;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  
  .send:hover {
    color: white;
    background-color: black;
  }

  .old-message{
    color: rgba(200, 200, 200);
  }
